# Servidor
NODE_ENV=development
PORT=3001
LOG_LEVEL=info

# Escavador
ESCAVADOR_API_KEY=
ESCAVADOR_BASE_URL=https://api.escavador.com

# DataJud (CNJ) — API Pública
DATAJUD_APIKEY=cDZHYzlZa0JadVREZDJCendQbXY6SkJlTzNjLV9TRENyQk1RdnFKZGRQdw==
DATAJUD_BASE_URL=https://api-publica.datajud.cnj.jus.br

# Database
NEON_CONN_STRING=postgresql://user:pass@host/db?sslmode=require

# MongoDB
MONGODB_CLOUD_STRING=mongodb+srv://user:pass@cluster.mongodb.net/clothos_motor
