{"openapi":"3.1.1","servers":[{"url":"https://api.infosimples.com/api/v2/","description":"API v2"}],"info":{"description":"A solução de consultas online (em tempo real) de portais públicos da **Infosimples** possui uma API simples, organizada e bem documentada que pode ser integrada com ERPs, CRMs, plataformas de e-commerce e sistemas proprietários de forma rápida e com pouco esforço.","version":"2.2.37-20260528141122","title":"Infosimples","termsOfService":"https://infosimples.com/termos/","contact":{"email":"suporte@infosimples.com.br"}},"tags":[{"name":"Consultas"},{"name":"Imagens"}],"paths":{"/consultas/anatel/celular-legal":{"post":{"tags":["Consultas"],"summary":"Anatel / Consulta Celular Legal","description":"Consulta a situação legal de um aparelho de telefone celular utilizando o IMEI.\n\nPode ser usado para validar se um aparelho celular está regular ou não","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anatel/celular-legal"},"parameters":[{"name":"imei","in":"query","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anp/base-distribuicao":{"post":{"tags":["Consultas"],"summary":"ANP / Base de Distribuição","description":"Consulta bases de distribução e Transportador-Revendedor-Retalhista (TRR) autorizados no portal da ANP (Agência Nacional do Petróleo, Gás Natual e Biocombustíveis).\n\nPode ser usada para prevenir fraudes, confirmando o tipo, quantidade, situação e capacidade das unidades de instalação, de acordo com o CNPJ informado.\n\nPode ser usada em gestão cadastral e fiscal de pessoas jurídicas e suas respectivas bases de distribução, garantindo que dados informados estão atualizados e corretos.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anp/base-distribuicao"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}},{"name":"tipo_instalacao","in":"query","description":"Deve ser informado um dos valores a seguir: asfaltos para BASES DO RAMO DE ASFALTOSaviacao para BASES DO RAMO DE AVIAÇÃOcombustiveis para BASES DO RAMO DE COMBUSTÍVEISliquefeitos para BASES DO RAMO DE LIQUEFEITOSsolventes para BASES DO RAMO DE SOLVENTEStrr para BASES DO RAMO DE TRR","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anp/certificados":{"post":{"tags":["Consultas"],"summary":"ANP / Certificados","description":"Através do CPF ou CNPJ, é possível emitir um Certificado de Autorização de Operação de Ponto de Abastecimento.\n\nPode ser usada para prevenir fraudes, confirmando a quantidade, o produto e capacidade das unidades de instalação.\n\nPode ser usada em gestão cadastral e fiscal de pessoas físicas e jurídicas e seus respectivos pontos de abastecimentos, garantindo que dados informados estão atualizados e corretos.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anp/certificados"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anp/instalacoes-simp":{"post":{"tags":["Consultas"],"summary":"ANP / Instalações do SIMP","description":"Consulta a base pública de instalações do Sistema de Informações de Movimentação de Produtos (SIMP) no portal da ANP (Agência Nacional do Petróleo, Gás Natual e Biocombustíveis).\n\nPode ser usada para prevenir fraudes, confirmando movimentações de produtos da instalação, de acordo com o CNPJ informado.\n\nPode ser usada em gestão cadastral e fiscal de pessoas jurídicas e suas respectivas bases de distribução, garantindo que dados informados estão atualizados e corretos.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anp/instalacoes-simp"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anp/instalacoes-simp-distr":{"post":{"tags":["Consultas"],"summary":"ANP / Instalações do SIMP / Distribuidores Autorizados","description":"Consulta a base pública de Filiais de Distribuidores Autorizados ao Exercício da Atividade do Sistema de Informações de Movimentação de Produtos (SIMP) no portal da ANP (Agência Nacional do Petróleo, Gás Natual e Biocombustíveis).\n\nPode ser usada para prevenir fraudes, confirmando distribuidores autorizados no SIMP da ANP, de acordo com o CNPJ informado.\n\nPode ser usada em gestão cadastral e fiscal de pessoas jurídicas e suas respectivas bases de distribução, garantindo que dados informados estão atualizados e corretos.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anp/instalacoes-simp-distr"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anp/postos":{"post":{"tags":["Consultas"],"summary":"ANP / Postos","description":"Através do CNPJ é possível consultar os dados de todos os postos revendedores do Brasil.\n\nPode ser usada em gestão cadastral e fiscal de pessoas físicas e jurídicas e seus respectivos postos, garantindo que dados informados estão atualizados e corretos.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anp/postos"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anp/revendas":{"post":{"tags":["Consultas"],"summary":"ANP / Revendas GLP","description":"Através do CPF/CNPJ é possível consultar os dados de todos as revendas GLP do Brasil.\n\nPode ser usada em gestão cadastral e fiscal de pessoas físicas e jurídicas e seus respectivos postos, garantindo que dados informados estão atualizados e corretos.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anp/revendas"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antecedentes-criminais/pf/emit":{"post":{"tags":["Consultas"],"summary":"Antecedentes Criminais / Polícia Federal / Emitir","description":"Consulta e emite a Certidão de Antecedentes Criminais que informa a existência ou não de registros criminais nos sistemas informatizados pelo Departamento de Polícia Federal (PF). IMPORTANTE - O não fornecimento do Atestado de Antecedentes Criminais não implica a existência de pendências jurídico-criminais.\n\nPode ser usada em conjunto com outras certidões para Due Diligence (Auditoria Prévia) de pessoas e empresas.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antecedentes-criminais/pf/emit"},"parameters":[{"name":"nome","in":"query","description":"Nome da Pessoa a ser consultada.","required":true,"schema":{"type":"string"}},{"name":"birthdate","in":"query","description":"Data de nascimento no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":true,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"nome_mae","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"nome_pai","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"uf_nascimento","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antecedentes-criminais/pf/val":{"post":{"tags":["Consultas"],"summary":"Antecedentes Criminais / Polícia Federal / Validar","description":"Valida a Certidão de Antecedentes Criminais emitida no site da Polícia Federal (PF). IMPORTANTE - O não fornecimento do Atestado de Antecedentes Criminais não implica a existência de pendências jurídico-criminais.\n\nPode ser usada em conjunto com outras certidões para Due Diligence (Auditoria Prévia) de pessoas e empresas.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antecedentes-criminais/pf/val"},"parameters":[{"name":"certidao_codigo","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"birthdate","in":"query","description":"Data de nascimento no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antecedentes-criminais/mg":{"post":{"tags":["Consultas"],"summary":"Antecedentes Criminais / MG","description":"Emite Atestado de Antecedentes no portal da Polícia Civil de Minas Gerais. Este serviço funciona com Carteiras de Identidade (RG) emitidas em Minas Gerais. IMPORTANTE - O não fornecimento do Atestado de Antecedentes Criminais não implica a existência de pendências jurídico-criminais.\n\nPode ser usada em conjunto com outras certidões para Due Diligence (Auditoria Prévia) de pessoas e empresas.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)\n\nPode ser usada para confirmar dados cadastrais de uma Carteira de Identidade (RG) emitida em Minas Gerais.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antecedentes-criminais/mg"},"parameters":[{"name":"rg","in":"query","description":"Número do RG, incluindo o dígito final.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antecedentes-criminais/sp":{"post":{"tags":["Consultas"],"summary":"Antecedentes Criminais / SP","description":"Emite Atestado de Antecedentes no Instituto de Identificação Ricardo Gumbleton Daunt (IIRGD), órgão da Secretaria da Segurança Pública de São Paulo. Este serviço funciona com Carteiras de Identidade (RG) emitidas em São Paulo. IMPORTANTE - O não fornecimento do Atestado de Antecedentes Criminais não implica a existência de pendências jurídico-criminais.\n\nPode ser usada em conjunto com outras certidões para Due Diligence (Auditoria Prévia) de pessoas e empresas.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)\n\nPode ser usada para confirmar dados cadastrais de uma Carteira de Identidade (RG) emitida em São Paulo.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antecedentes-criminais/sp"},"parameters":[{"name":"nome","in":"query","description":"Nome da Pessoa a ser consultada.","required":true,"schema":{"type":"string"}},{"name":"birthdate","in":"query","description":"Data de nascimento no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":true,"schema":{"type":"string"}},{"name":"genero","in":"query","description":"Gênero do indivíduo. Valores possíveis são MASCULINO ou FEMININO.","required":true,"schema":{"type":"string"}},{"name":"rg","in":"query","description":"Número do RG, sem dígito final.","required":false,"schema":{"type":"string"}},{"name":"rg_digito","in":"query","description":"Dígito final do RG. Este é o dígito de controle.","required":false,"schema":{"type":"string"}},{"name":"rg_expedicao","in":"query","description":"Data de expedição do RG no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":false,"schema":{"type":"string"}},{"name":"cin_cpf","in":"query","description":"Número da CIN (CPF). Deve ser informado caso o documento utilizado seja a Carteira de Identidade Nacional (CIN).","required":false,"schema":{"type":"string"}},{"name":"cin_expedicao","in":"query","description":"Data de expedição da CIN no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido. Deve ser informado caso o documento utilizado seja a Carteira de Identidade Nacional (CIN).","required":false,"schema":{"type":"string"}},{"name":"pai","in":"query","description":"Nome do pai do indivíduo. Apesar de opcional, recomenda-se o preenchimento.","required":false,"schema":{"type":"string"}},{"name":"mae","in":"query","description":"Nome da mãe do indivíduo. Apesar de opcional, recomenda-se o preenchimento.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/frete-piso-minimo":{"post":{"tags":["Consultas"],"summary":"ANTT / Calcular Piso Mínimo de Frete","description":"Consulta a calculadora do Piso Mínimo de Frete da ANTT, com base nas informações da viagem, tipo de carga e veículo.\n\nPode ser utilizada para validar e calcular o Piso Mínimo de Frete em operações de transporte rodoviário.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/frete-piso-minimo"},"parameters":[{"name":"tipo_carga","in":"query","description":"Aqui deve ser informado o tipo da carga; o termo deve ser escrito exatamente da mesma maneira apresentada no site da consulta. Exemplos: 'Carga Geral', 'Conteinerizada', 'Neogranel', etc.","required":true,"schema":{"type":"string"}},{"name":"eixos","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"distancia","in":"query","description":"Distância em quilômetros.","required":true,"schema":{"type":"string"}},{"name":"composicao_veicular","in":"query","description":"O valor '1' deve ser informado no caso de composição veicular (veículo automotor + implemento ou caminhão simples).","required":false,"schema":{"type":"string"}},{"name":"alto_desempenho","in":"query","description":"O valor '1' deve ser informado no caso de alto desempenho.","required":false,"schema":{"type":"string"}},{"name":"retorno_vazio","in":"query","description":"O valor '1' deve ser informado no caso de retorno vazio.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/produtos-perigosos":{"post":{"tags":["Consultas"],"summary":"ANTT / Produtos Perigosos","description":"Consulta os dados do veículo transportador e sua situação atual na Consulta Pública de Produtos Perigosos da ANTT (Agência Nacional de Transportes Terrestres).\n\nPode ser utilizada para confirmar se o veículo está apto a transportar o tipo de carga desejada e se seu certificado está válido.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/produtos-perigosos"},"parameters":[{"name":"placa","in":"query","description":"Placa do veículo a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"tipo_certificado","in":"query","description":"Tipo de certificado a ser consultado. Exemplo: 'CIPP'. Caso não seja informado, a API utilizara por padrão o tipo de certificado CIPP.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/sifama/boleto-2via":{"post":{"tags":["Consultas"],"summary":"ANTT / SIFAMA / Segunda Via de Boletos","description":"Obtém a segunda via de um boleto de pagamento de multa no ambiente SIFAMA da ANTT (Agência Nacional de Transportes Terrestres).\n\nPode ser usada para consultar a listagem de infrações relacionadas ao embarcador","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/sifama/boleto-2via"},"parameters":[{"name":"login_cpf","in":"query","description":"CPF para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_cnpj","in":"query","description":"CNPJ para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cnpj_representado","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"tipo_multa","in":"query","description":"Deve ser informado o número equivalente do tipo de multa:1 para Excesso de Peso2 para Pagamento Eletrônico de Frete3 para Parcelamento ANTT4 para Parcelamento PRD (Não Inscritos)5 para RNTRC6 para SAC TRIP7 para TRPP8 para TRPP Internacional9 para TRIP10 para TRIC11 para TR Internacional de Passgeiros12 para Vale Pedágio13 para Parcelamento PRD (Inscritos)14 para Piso Mínimo de Frete15 para Evasão de Pedágio","required":true,"schema":{"type":"string"}},{"name":"auto_infracao","in":"query","description":"Número do Auto de Infração a ser obtido","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/sifama/consultar-multas":{"post":{"tags":["Consultas"],"summary":"ANTT / SIFAMA / Consultar Multas","description":"Realiza uma consulta de multas e infrações no ambiente SIFAMA da ANTT (Agência Nacional de Transportes Terrestres).\n\nPode ser usada para consultar a listagem de infrações relacionadas ao embarcador","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/sifama/consultar-multas"},"parameters":[{"name":"login_cpf","in":"query","description":"CPF para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_cnpj","in":"query","description":"CNPJ para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cnpj_representado","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"tipo_fiscalizacao","in":"query","description":"Deve ser informado o número equivalente do tipo de fiscalização:1 para Excesso de Peso2 para Pagamento Eletrônico de Frete (PEF)3 para RNTRC4 para SAC TRIP (Fiscalização de SAC no transporte de passageiros)5 para Transporte Rodoviário de Produtos Perigosos (TRPP)6 para Transporte Rodoviário Interestadual de Passageiros7 para Vale Pedágio8 para Piso Mínimo de Frete","required":true,"schema":{"type":"string"}},{"name":"placa","in":"query","description":"Placa do veículo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/sifama/download-auto":{"post":{"tags":["Consultas"],"summary":"ANTT / SIFAMA / Download de Auto de Infração","description":"Consulta os registros da ANTT (Agência Nacional de Transportes Terrestres) por meio do CNPJ do Representado e obtém as vistas do processo.\n\nPode ser usada para consultar os autos de infração relacionados ao embarcador","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/sifama/download-auto"},"parameters":[{"name":"login_cpf","in":"query","description":"CPF para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_cnpj","in":"query","description":"CNPJ para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cnpj_representado","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"auto_infracao","in":"query","description":"Número do Auto de Infração a ser obtido","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/sifama/lista-autos":{"post":{"tags":["Consultas"],"summary":"ANTT / SIFAMA / Lista de Autos de Infração","description":"Consulta os registros da ANTT (Agência Nacional de Transportes Terrestres) por meio do CNPJ do Representado e recebe informações sobre infrações cometidas.\n\nPode ser usada para consultar a listagem de infrações relacionadas ao embarcador","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/sifama/lista-autos"},"parameters":[{"name":"login_cpf","in":"query","description":"CPF para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_cnpj","in":"query","description":"CNPJ para fazer login no site. É necessário informar login_cpf ou login_cnpj.","required":false,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"representado","in":"query","description":"CPF ou CNPJ do representado.","required":false,"schema":{"type":"string"}},{"name":"tipo_multa","in":"query","description":"Deve ser informado o número equivalente do tipo de multa:1 para Excesso de Peso2 para Pagamento Eletrônico de Frete3 para Parcelamento ANTT4 para Parcelamento PRD (Não Inscritos)5 para RNTRC6 para SAC TRIP7 para TRPP8 para TRPP Internacional9 para TRIP10 para TRIC11 para TR Internacional de Passgeiros12 para Vale Pedágio13 para Parcelamento PRD (Inscritos)14 para Piso Mínimo de Frete15 para Evasão de Pedágio","required":true,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Por padrão o valor deste parâmetro é 1. A API retornará sempre a página informada. Por exemplo, se pagina=4, a API retornará os resultados da página 4.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/transportador":{"post":{"tags":["Consultas"],"summary":"ANTT / Transportador","description":"Consulta os dados do transportador e sua situação atual no Registro Nacional de Transportadores Rodoviários de Cargas (RNTRC) da ANTT (Agência Nacional de Transportes Terrestres).\n\nPode ser usada para prevenir fraudes, verificando a atual situação do RNTRC para confirmar se o transportador está apto a realizar o transporte remunerado de cargas.\n\nPode ser usada em gestão cadastral e fiscal, garantindo que os dados informados estão atualizados e corretos.\n\nPode ser usada para identificação da distribuição espacial, composição e idade média da frota, delimitação das áreas de atuação (urbana, estadual e regional) dos transportadores e conhecimento da especialização da atividade econômica (empresas, cooperativas e autônomos).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/transportador"},"parameters":[{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"rntrc","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/tric":{"post":{"tags":["Consultas"],"summary":"ANTT / Transporte Rodoviário Internacional de Cargas (TRIC)","description":"Consulta veículos, nacionais e estrangeiros, habilitados pela ANTT (Agência Nacional de Transportes Terrestres) ao Transporte Rodoviário Internacional de Cargas (TRIC).\n\nPode ser usada para verificar se um veículo está habilitado ao transporte rodoviário internacional de cargas (TRIC).\n\nPode ser usada para verificar dados da empresa vinculada ao veículo autorizado ao transporte rodoviário internacional de cargas (TRIC).\n\nPode ser usada para verificar a situação das licenças para transporte rodovário internacional de cargas (TRIC) de um veículo.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/tric"},"parameters":[{"name":"placa","in":"query","description":"Placa do veículo a ser consultado.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/antt/veiculo":{"post":{"tags":["Consultas"],"summary":"ANTT / Veículo","description":"Consulta os dados do transportador e seu veículo no Registro Nacional de Transportadores Rodoviários de Cargas (RNTRC).\n\nPode ser usada para prevenir fraudes, verificando a atual situação do transportador no RNTRC para confirmar se o mesmo está apto a realizar o transporte remunerado de cargas.\n\nPode ser usada em gestão cadastral e fiscal, garantindo que os dados informados estão atualizados e corretos.\n\nPode ser usada para identificação da distribuição espacial, composição e idade média da frota, delimitação das áreas de atuação (urbana, estadual e regional) dos transportadores e conhecimento da especialização da atividade econômica (empresas, cooperativas e autônomos).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/antt/veiculo"},"parameters":[{"name":"placa","in":"query","description":"Placa do veículo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"rntrc","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anvisa/bulario-eletronico":{"post":{"tags":["Consultas"],"summary":"ANVISA / Bulário Eletrônico","description":"Consulta o Bulário Eletrônico da ANVISA (Agência Nacional de Vigilância Sanitária) e retorna informações da primeira página de resultados sobre bulas de medicamentos registrados no Brasil, incluindo os arquivos de bula do primeiro resultado.\n\nPode ser usada para obter bulas de medicamentos, verificando composição, indicações, contraindicações, posologia e demais informações regulatórias registradas na ANVISA.\n\nPode ser usada em gestão de saúde e farmacêutica, confirmando se um medicamento possui registro ativo na ANVISA e obtendo os documentos oficiais de bula vigentes.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anvisa/bulario-eletronico"},"parameters":[{"name":"nome_medicamento","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"numero_registro","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"numero_expediente_bula_vigente","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"empresa_cnpj","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"data_inicial","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"data_final","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anvisa/empresas":{"post":{"tags":["Consultas"],"summary":"ANVISA / Funcionamento de Empresa Nacional","description":"Consulta o portal da ANVISA e retorna detalhes e autorizações sobre empresas nacionais por meio do CNPJ informado.\n\nPode ser usada em gestão cadastral e fiscal, garantindo que os dados informados estão atualizados e corretos.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anvisa/empresas"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/anvisa/processo":{"post":{"tags":["Consultas"],"summary":"ANVISA / Processo","description":"Retorna detalhes sobre qualquer processo ou pedido na ANVISA, utilizando seu número de protocolo ou expediente.\n\nPode ser usada para localizar a área em que se encontra o processo, além de consultar sua atual situação.\n\nPode ser usada em gestão cadastral e fiscal, garantindo que os dados informados estão atualizados e corretos.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/anvisa/processo"},"parameters":[{"name":"protocolo","in":"query","description":"Número do protocolo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"expediente","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/bcb/cheques-sem-fundo":{"post":{"tags":["Consultas"],"summary":"Banco Central do Brasil (BCB) / Relatório de Cheques sem Fundos","description":"Retorna o relatório de cheques sem fundos no site do Banco central do Brasil.\n\nPode ser usada para verificar se a conta gov.br informada é associada a uma pessoa/empresa que emitiu cheques sem fundos.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/bcb/cheques-sem-fundo"},"parameters":[{"name":"login_cpf","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com CPF e senha. Deve ser informado o CPF para fazer login no GOV.BR.","required":false,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com CPF e senha. Deve ser informada a senha para fazer login no GOV.BR.","required":false,"schema":{"type":"string"}},{"name":"pkcs12_cert","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com certificado digital. Conteúdo do arquivo do certificado digital A1 encriptado seguindo as instruções de criptografia.","required":false,"schema":{"type":"string"}},{"name":"pkcs12_pass","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com certificado digital. Senha do certificado digital A1 encriptada seguindo as instruções de criptografia.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/bcb/valores-receber":{"post":{"tags":["Consultas"],"summary":"Banco Central do Brasil (BCB) / Valores a Receber","description":"Realiza uma consulta no Banco Central do Brasil (BCB) e retorna os valores a receber.\n\nPode ser usada para verificar se existem valores para receber junto ao Banco Central do Brasil.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/bcb/valores-receber"},"parameters":[{"name":"cpf","in":"query","description":"Deve ser informado em conjunto com o parâmetro 'data_nascimento'.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"Deve ser informado em conjunto com o parâmetro 'data_abertura_empresa'.","required":false,"schema":{"type":"string"}},{"name":"data_nascimento","in":"query","description":"Informar no formato ISO8601: (yyyy-mm-dd).","required":false,"schema":{"type":"string"}},{"name":"data_abertura_empresa","in":"query","description":"Informar no formato ISO8601: (yyyy-mm-dd).","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/bombeiros/rj/taxa-incendio":{"post":{"tags":["Consultas"],"summary":"Bombeiros / RJ / Taxa de Incêndio","description":"Consulta a Taxa de Incêndio do Corpo de Bombeiros Militar (CBMERJ), permitindo emitir boletos de pagamento e a Certidão de Débitos do imóvel, a partir da Inscrição Predial e do Município informados.\n\nPode ser usada para verificação de regularidade fiscal de imóveis, apoiando processos de KYC imobiliário, análise cadastral de proprietários e prevenção de riscos em operações imobiliárias.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/bombeiros/rj/taxa-incendio"},"parameters":[{"name":"inscricao_predial","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"municipio","in":"query","description":"Aqui deve ser informado o nome do município, o termo deve ser escrito exatamente da mesma maneira apresentada no site da consulta.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/buscador/google":{"post":{"tags":["Consultas"],"summary":"Buscador / Google","description":"Retorna os resultados de uma busca no portal do Google Brasil.\n\nPode ser usado para automatizar buscas na Internet.\n\nPode ser usado para identificar mídias negativas na Internet associadas a uma pessoa ou a uma empresa.\n\nAcessa todo o conteúdo de Internet indexado pelo Google através do portal de buscas brasileiro do Google.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/buscador/google"},"parameters":[{"name":"query","in":"query","description":"Termo de pesquisa.","required":true,"schema":{"type":"string"}},{"name":"safe","in":"query","description":"Se o valor deste campo for 1, ativa o Safe Search do Google.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/b3/participantes":{"post":{"tags":["Consultas"],"summary":"B3 / Participantes","description":"Consulta o site da B3 e verifica se o CNPJ informado participa em alguma das instituições ligadas a B3.\n\nPode ser usada para verificar se o CNPJ informado tem participação em qualquer instituição ligada à B3.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/b3/participantes"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cadastur/prestadores":{"post":{"tags":["Consultas"],"summary":"Cadastur / Prestadores","description":"Consulta prestadores de serviços turísticos no Cadastur do Ministério do Turismo.\n\nPode ser usada para verificar ou monitorar as situações de prestadores de serviços turísticos.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cadastur/prestadores"},"parameters":[{"name":"uf","in":"query","description":"UF (Unidade da Federação) a ser usada na consulta. Exemplos: SP, RJ.","required":true,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cade/processos":{"post":{"tags":["Consultas"],"summary":"CADE / Processos","description":"Consulta processos no Conselho Administrativo de Defesa Econômica (CADE) através do Serviço Eletrônico de Informações (SEI). A consulta retorna até 10 processos ordenados por data.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).\n\nPode ser usada para acompanhar processos no CADE.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cade/processos"},"parameters":[{"name":"processo","in":"query","description":"Número do processo ou documento a ser pesquisado.","required":false,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Termo de pesquisa livre a ser usado.","required":false,"schema":{"type":"string"}},{"name":"interessado_remetente","in":"query","description":"Interessado / Remetente a ser pesquisado.","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Por padrão o valor deste parâmetro é 1. Exemplo de uso do parâmetro: se pagina=7, a API retornará os resultados da página 7.","required":false,"schema":{"type":"string"}},{"name":"tipo_pesquisa","in":"query","description":"Tipo de pesquisa a ser realizada, informar um dos seguintes valores: processosdocumentos geradosdocumentos externosCaso não seja informado nenhum valor, será utilizado os três valores por padrão.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/caixa/regularidade":{"post":{"tags":["Consultas"],"summary":"Caixa / Regularidade do Empregador (FGTS)","description":"Consulta a situação de regularidade do empregador e obtém os dados correspondentes ao Certificado de Regularidade do FGTS (CRF), Fundo de Garantia do Tempo de Serviço.\n\nPode ser usada para verificar a regularidade da empresa perante o FGTS.\n\nPode ser usada em gestão cadastral e fiscal, garantindo que os dados informados estão atualizados e corretos.\n\nA situação fiscal pode ser utilizada em modelos de análise de crédito.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)\n\nPode ser usada em processos de onboarding de clientes e fornecedores.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/caixa/regularidade"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cei","in":"query","description":"Cadastro Específico do INSS.","required":false,"schema":{"type":"string"}},{"name":"preferencia_emissao","in":"query","description":"Deve ser informado um dos valores a seguir: nova para emitir um novo certificado2via para preferência em emitir segunda via de certificado (valor padrão)","required":false,"schema":{"type":"string"}},{"name":"aceita_resultado_parcial","in":"query","description":"Define o comportamento da API quando a fonte consulta a situação da empresa (ex: \"REGULAR\") com sucesso, mas falha ao gerar algum outro dado, como, por exemplo, o Certificado de Regularidade ou o histórico do empregador.\"0\": opção padrão. A API retorna código 620. Garante que você só receba código 200 se a informação completa estiver disponível.\"1\": a API retorna código 200, com dados parciais. Você receberá os dados que estiverem disponíveis e alguns outros, como os referentes ao Certificado de Regularidade, eventualmente estarão vazios.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/tesouro-nacional/capag":{"post":{"tags":["Consultas"],"summary":"Tesouro Nacional / Capacidade de Pagamento (CAPAG)","description":"Consulta A análise da capacidade de pagamento QUE apura a situação fiscal dos Entes Subnacionais que querem contrair novos empréstimos com garantia da União.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/tesouro-nacional/capag"},"parameters":[{"name":"uf","in":"query","description":"UF (Unidade da Federação) a ser usada na consulta. Exemplos: SP, RJ.","required":true,"schema":{"type":"string"}},{"name":"municipio","in":"query","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/car/demonstrativo":{"post":{"tags":["Consultas"],"summary":"Cadastro Ambiental Rural / Demonstrativo","description":"Consulta registro no SICAR (Sistema Nacional de Cadastro Ambiental Rural) a partir do número de registro no CAR.\n\nPode ser usado para verificar condição de cadastro no CAR.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente) em processos que envolvem imóveis rurais.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/car/demonstrativo"},"parameters":[{"name":"car","in":"query","description":"Número de registro no Cadastro Ambiental Rural.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/car/demonstrativo-pdf":{"post":{"tags":["Consultas"],"summary":"Cadastro Ambiental Rural / Demonstrativo (PDF)","description":"Consulta registro no SICAR (Sistema Nacional de Cadastro Ambiental Rural) a partir do número de registro no CAR. Retorna o arquivo de visualização em PDF.\n\nPode ser usado para verificar condição de cadastro no CAR.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente) em processos que envolvem imóveis rurais.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/car/demonstrativo-pdf"},"parameters":[{"name":"car","in":"query","description":"Número de registro no Cadastro Ambiental Rural.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/car/download-shapefile":{"post":{"tags":["Consultas"],"summary":"Cadastro Ambiental Rural / Download de Shapefile","description":"Faz download do arquivo .zip contendo os shapefiles de um imóvel no SICAR (Sistema Nacional de Cadastro Ambiental Rural) a partir do número de registro no CAR.\n\nPode ser usada para obter as coordenadas geográficas do polígono do imóvel no Cadastro Ambiente Rural (CAR).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente) em processos que envolvem imóveis rurais.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/car/download-shapefile"},"parameters":[{"name":"car","in":"query","description":"Número de registro no Cadastro Ambiental Rural.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/car/imovel":{"post":{"tags":["Consultas"],"summary":"Cadastro Ambiental Rural / Imóvel","description":"Consulta dados de um imóvel, incluindo as coordenadas geográficas do seu polígono, no SICAR (Sistema Nacional de Cadastro Ambiental Rural) a partir do número de registro no CAR.\n\nPode ser usada para obter as coordenadas geográficas do polígono do imóvel no Cadastro Ambiente Rural (CAR).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente) em processos que envolvem imóveis rurais.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/car/imovel"},"parameters":[{"name":"car","in":"query","description":"Número de registro no Cadastro Ambiental Rural.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/carf/processo":{"post":{"tags":["Consultas"],"summary":"CARF / Processo","description":"Consulta acompanhamento processual na Conselho Administrativo de Recursos Fiscais (CARF).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).\n\nPode ser usada para acompanhar processos administrativos no CARF.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/carf/processo"},"parameters":[{"name":"processo","in":"query","description":"Número do processo a ser pesquisado.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"data_inicio","in":"query","description":"Data de início no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":false,"schema":{"type":"string"}},{"name":"data_fim","in":"query","description":"Data de fim no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cenprot-sp/protestos":{"post":{"tags":["Consultas"],"summary":"CENPROT SP / Protestos","description":"Consulta a existência e os dados de Protestos de pessoas físicas e jurídicas na Central de Protesto do Estado de São Paulo (CENPROT-SP). Apenas os resultados de SP tem retorno detalhado. São retornados resultados apenas da primeira página exibida pelo site.\n\nPode ser usada em gestão cadastral e fiscal de pessoas físicas e jurídicas, garantindo que dados informados estão atualizados e corretos\n\nA existência de protestos contra pessoa física e jurídica pode ser utilizada em modelos de análise de crédito\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cenprot-sp/protestos"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfbm/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Biomedicina / Cadastro","description":"Consulta cadastral de biomédicos no CFBM (Conselho Federal de Biomedicina). Retorna os 50 primeiros resultados, além de detalhes do primeiro resultado.\n\nPode ser usado em processos de validação cadastral de profissionais cadastrados no CFBM\n\nÉ possível confirmar se o registro de um profissional de biomedicina está ativo\n\nÉ possível verificar a data de registro no Conselho Federal de Biomedicina (CFBM).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfbm/cadastro"},"parameters":[{"name":"registro","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Nome da Pessoa a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfc/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Contabilidade / Cadastro de Profissionais e Empresas","description":"Consulta cadastral de profissionais e organizações contábeis no CFC (Conselho Federal de Contabilidade).\n\nPode ser usada em processos de validação cadastral de empresas e de seus contadores.\n\nÉ possível confirmar se o registro de um contador está ativo.\n\nÉ possível verificar em qual Conselho Regional de Contabilidade (CRC) um contador está registrado.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfc/cadastro"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"numero_registro","in":"query","description":"Número de registro deve ser informado com a UF seguido de 6 digitos EX: SP-000000","required":false,"schema":{"type":"string"}},{"name":"tipo_registro","in":"query","description":"Use o valor pf para profissional ou pj para empresa. Se não for informado, a API usará pf quando CPF ou Número de Registro for informado e pj quando CNPJ for informado.","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Por padrão o valor deste parâmetro é 1. A API retornará sempre a primeira página e a outra página informada. Por exemplo, se pagina=7, a API retornará os resultados da página 7.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cff/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Farmácia / Cadastro","description":"Consulta cadastral de profissionais inscritos no Conselho Federal de Farmácia (CFF). Retorna até 10 resultados.\n\nPode ser usado em processos de validação cadastral de profissionais cadastrados no CFF.\n\nÉ possível confirmar se o registro de um profissional de farmácia está ativo.\n\nÉ possível verificar a data de registro no Conselho Federal de Farmácia (CFF).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cff/cadastro"},"parameters":[{"name":"uf","in":"query","description":"UF (Unidade da Federação) a ser usada na consulta. Exemplos: SP, RJ.","required":true,"schema":{"type":"string"}},{"name":"municipio","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"categoria","in":"query","description":"Deve ser informado um dos valores a seguir: farmaceuticotecnico","required":true,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Nome da Pessoa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"crf","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfm/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Medicina / Cadastro","description":"Consulta cadastral de médicos no CFM (Conselho Federal de Medicina).\n\nPode ser usado em processos de validação cadastral de profissionais cadastrados no CFM.\n\nÉ possível confirmar se o registro de um profissional de medicina está ativo.\n\nÉ possível verificar a data de registro no Conselho Federal de Medicina (CFM).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfm/cadastro"},"parameters":[{"name":"inscricao","in":"query","description":"Número de inscrição a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Quando informado, retorna apenas o primeiro resultado com nome exatamente igual.","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","description":"UF (Unidade da Federação) a ser usada na consulta. Exemplos: SP, RJ.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfm/estabelecimento":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Medicina / Estabelecimentos de Saúde","description":"Pesquisa de prestadores de serviços em saúde devidamente inscritos juntos aos conselhos regionais de medicina CFM (Conselho Federal de Medicina).\n\nPode ser usado em processos de validação cadastral de empresas no CFM.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfm/estabelecimento"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfmv/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Medicina Veterinária / Cadastro","description":"Consulta cadastral de médicos veterinários no CFMV (Conselho Federal de Medicina Veterinária)\n\nPode ser usada para verificar a regularidade e a qualificação dos profissionais","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfmv/cadastro"},"parameters":[{"name":"tipo_inscricao","in":"query","description":"Informar os seguintes valores:\n         \n          0 Para pessoa física\n          1 Para pessoa jurídica\n         \n         Caso não seja informado será utilizado o valor 0 como padrão.","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","description":"Deve ser informado o Estado (UF) para filtrar a busca","required":false,"schema":{"type":"string"}},{"name":"query","in":"query","description":"Deve ser informado o termo a ser buscado","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfo/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Odontologia / Cadastro","description":"Consulta o cadastro de Odontologistas no CFO (Conselho Federal de Odontologia).\n\nPode ser usada em processos de validação cadastral de profissionais cadastrados no CFO.\n\nPode ser usada para confirmar se o registro de um profissional de odontologia está ativo.\n\nPode ser usada para verificar a data de registro no Conselho Federal de Odontologia (CFO).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfo/cadastro"},"parameters":[{"name":"uf","in":"query","description":"Deve ser informado o Estado (UF) correspondente para filtrar a busca","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Deve ser informado o nome a ser buscado","required":false,"schema":{"type":"string"}},{"name":"inscricao","in":"query","description":"Deve ser informado o número do registro a ser buscado","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cfp/cadastro":{"post":{"tags":["Consultas"],"summary":"Conselho Federal de Psicologia / Cadastro","description":"Consulta o cadastro de Psicólogos no CFP (Conselho Federal de Psicologia).\n\nPode ser usada em processos de validação cadastral de profissionais cadastrados no CFP.\n\nPode ser usada para confirmar se o registro de um profissional de psicologia está ativo.\n\nPode ser usada para verificar a data de registro no Conselho Federal de Psicologia (CFP).","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cfp/cadastro"},"parameters":[{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","description":"Deve ser informado o Estado (UF) correspondente para filtrar a busca","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","description":"Deve ser informado o termo a ser buscado","required":false,"schema":{"type":"string"}},{"name":"registro","in":"query","description":"Deve ser informado o número do registro a ser buscado","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cgu/cnc-tipo1":{"post":{"tags":["Consultas"],"summary":"Controladoria-Geral da União / Certidão Negativa Correcional - Entes Privados (ePAD, CGU-PJ, CEIS, CNEP e CEPIM)","description":"Emite certidão negativa correcional (ePAD, CGU-PJ, CEIS, CNEP e CEPIM) no âmbito da Controladoria-Geral da União (CGU).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).\n\nPode ser usada em verificação de processos administrativos de responsabilização de entes privados no Poder Executivo Federal.\n\nPode ser usada em verificação de empresas e pessoas físicas que sofreram sanções que implicaram a restrição de participar de licitações ou de celebrar contratos com a Administração Pública.\n\nPode ser usada em verificação de empresas que sofreram punições previstas na Lei Anticorrupção.\n\nPode ser usada em verificação de entidades privadas sem fins lucrativos que estão impedidas de celebrar novos convênios, contratos de repasse ou termos de parceria com a Administração Pública Federal, em função de irregularidades não resolvidas em convênios, contratos de repasse ou termos de parceria firmados anteriormente.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cgu/cnc-tipo1"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cgu/cnc-tipo2":{"post":{"tags":["Consultas"],"summary":"Controladoria-Geral da União / Certidão Negativa Correcional - Agentes Públicos (ePAD, CGU-PAD e Banco de Sanções)","description":"Emite certidão negativa correcional (ePAD, CGU-PAD e Banco de Sanções) no âmbito da Controladoria-Geral da União (CGU).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente).\n\nPode ser usada em verificação de informações sobre procedimentos disciplinares no âmbito dos órgãos, entidades, empresas públicas e sociedades de economia mista do Poder Executivo Federal.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cgu/cnc-tipo2"},"parameters":[{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cidadao-mg/veiculos/trans-prop":{"post":{"tags":["Consultas"],"summary":"Cidadão MG / Veículos / Transferência de Propriedade de Veículo","description":"Gera o ATPV-e relativo à autorização de transferência de veículo em Minas Gerais (MG).\n\nPode ser usada para emitir autorizações das vendas de veículos, agilizando operação de venda numa grande frota.\n\nPode ser usada em gestão cadastral de veículos e autuações, garantindo que os dados informados estão atualizados e corretos.\n\nPode ser usada para fiscalizar e monitorar a existência de autuações vinculadas ao veículo e verificar detalhes da localização, data e hora, valor a pagar, situação entre outros.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cidadao-mg/veiculos/trans-prop"},"parameters":[{"name":"login_cpf","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com CPF e senha. Deve ser informado o CPF para fazer login no GOV.BR.","required":false,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com CPF e senha. Deve ser informada a senha para fazer login no GOV.BR.","required":false,"schema":{"type":"string"}},{"name":"pkcs12_cert","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com certificado digital. Conteúdo do arquivo do certificado digital A1 encriptado seguindo as instruções de criptografia.","required":false,"schema":{"type":"string"}},{"name":"pkcs12_pass","in":"query","description":"Este parâmetro é necessário caso o login no GOV.BR seja feito com certificado digital. Senha do certificado digital A1 encriptada seguindo as instruções de criptografia.","required":false,"schema":{"type":"string"}},{"name":"placa","in":"query","description":"Placa do veículo a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"chassi","in":"query","description":"Número do chassi do veículo a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"renavam","in":"query","description":"RENAVAM do veículo a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"valor_venda","in":"query","description":"Valor da venda do veículo, expressado como float. Exemplo: R$ 1.234,56 deve ser expresso como 1234.56","required":true,"schema":{"type":"string"}},{"name":"crv","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"quilometragem_hodometro","in":"query","description":"Quilometragem do hodômetro, como integer. Exemplo: 67.500 Km deve ser expresso como 67500","required":false,"schema":{"type":"string"}},{"name":"data_hora_hodometro","in":"query","description":"Data/Hora da leitura do hodômetro. Deve estar no formato dd/mm/yyyy hh:mm. Exemplo: 01/01/2026 00:00","required":false,"schema":{"type":"string"}},{"name":"cpf_vendedor","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"cnpj_vendedor","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"email_vendedor","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cpf_comprador","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"cnpj_comprador","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"nome_comprador","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"email_comprador","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cep_comprador","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"uf_comprador","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"municipio_comprador","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"logradouro_endereco_comprador","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"bairro_endereco_comprador","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"numero_endereco_comprador","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"complemento_endereco_comprador","in":"query","description":"","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cnis/pre-inscricao":{"post":{"tags":["Consultas"],"summary":"CNIS / Pré-inscrição","description":"Consulta a inscrição (PIS/NIT/NIS) de uma pessoa física no Cadastro Nacional de Informações Sociais (CNIS).\n\nPermite confirmar o número PIS/NIT/NIS de uma pessoa física brasileira","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cnis/pre-inscricao"},"parameters":[{"name":"nome","in":"query","description":"Nome da Pessoa a ser consultada.","required":true,"schema":{"type":"string"}},{"name":"mae","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"data_nascimento","in":"query","description":"Data de nascimento no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cnj/improbidade":{"post":{"tags":["Consultas"],"summary":"Conselho Nacional de Justiça / Improbidade Administrativa e Inelegibilidade","description":"Consulta pessoas físicas e jurídicas no Cadastro Nacional de Condenações Cíveis por Ato de Improbidade Administrativa e Inelegibilidade no portal do Conselho Nacional de Justiça.\n\nA certidão negativa pode ser usada em processos de licitação, concorrência, cadastro ou homologações de fornecedores, clientes e outros participantes.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cnj/improbidade"},"parameters":[{"name":"nome","in":"query","description":"É possível informar apenas o nome para esta pesquisa, não é necessário informar junto com CPF/CNPJ. Para que a certidão em PDF seja emitida corretamente, sugerimos pesquisar apenas com CPF ou com CNPJ.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cnj/mandados-prisao":{"post":{"tags":["Consultas"],"summary":"Conselho Nacional de Justiça / Mandados de Prisão","description":"Consulta mandados de prisão que possuem situação \"Aguardando Cumprimento\" e que ainda estão vigentes, no Banco Nacional de Mandados de Prisão do Conselho Nacional de Justiça através do CPF informado. Retorna até 30 resultados.\n\nPode ser usada para verificar mandados de prisão no Conselho Nacional de Justiça (CNJ).\n\nPode ser usada em gestão fiscal, garantindo que os dados informados estão atualizados e corretos.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cnj/mandados-prisao"},"parameters":[{"name":"nome","in":"query","description":"Nome da Pessoa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"nome_mae","in":"query","description":"","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cnj/serventias-extrajudiciais":{"post":{"tags":["Consultas"],"summary":"Conselho Nacional de Justiça / Serventias Extrajudiciais (Detalhes)","description":"Consulta produtividade das serventias extrajudiciais no site do Conselho Nacional de Justiça (CNJ).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cnj/serventias-extrajudiciais"},"parameters":[{"name":"cns","in":"query","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cnj/serventias-extrajud-lista":{"post":{"tags":["Consultas"],"summary":"Conselho Nacional de Justiça / Serventias Extrajudiciais (Lista)","description":"Consulta a listagem de todas as serventias extrajudiciais em um município brasileiro no site do Conselho Nacional de Justiça (CNJ).\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cnj/serventias-extrajud-lista"},"parameters":[{"name":"uf","in":"query","description":"UF (Unidade da Federação) a ser usada na consulta. Exemplos: SP, RJ.","required":true,"schema":{"type":"string"}},{"name":"municipio","in":"query","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/cnj/seeu/processos":{"post":{"tags":["Consultas"],"summary":"Conselho Nacional de Justiça / SEEU / Processos","description":"Consulta processos de pessoas físicas e jurídicas no Sistema Eletrônico de Execução Unificado (SEEU) no portal do Conselho Nacional de Justiça CNJ.\n\nPode ser usada para verificar se existem ações em tramitação para uma pessoa física ou pessoa jurídica.\n\nPode ser usada em conjunto com outras certidões para Due Diligence (Auditoria Prévia) de pessoas e empresas.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/cnj/seeu/processos"},"parameters":[{"name":"nome_parte","in":"query","description":"É possível informar apenas o nome para esta pesquisa, não sendo necessário informar junto com CPF/CNPJ, ou outros parâmetros.","required":false,"schema":{"type":"string"}},{"name":"nome_mae","in":"query","description":"Caso uma pesquisa por nome retorne múltiplos resultados, adicionar o nome da mãe na consulta pode ajudar a reduzir o número de resultados.","required":false,"schema":{"type":"string"}},{"name":"numero_processo","in":"query","description":"O número do processo pode ser informado para obter dados de um processo específico.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/comprot/processo":{"post":{"tags":["Consultas"],"summary":"Comprot / Processo","description":"A API consulta processos administrativos na COMPROT (Comunicação e Protocolo) do Ministério da Fazenda, pesquisando por CPF, CNPJ ou número do processo, e datas de início e fim. Quando há mais de um processo no retorno da pesquisa, os dados do primeiro processo são retornados e, para os demais processos, apenas os seus números são retornados, permitindo que a consulta de dados completa desse processo seja feita posteriormente. A API automatiza a consulta no site do COMPROT e por isso funciona de segunda a sexta-feira no período das 8:00 às 22:00 (horário de Brasília), que é o mesmo período de funcionamento do site.\n\nPode ser usada em gestão cadastral e fiscal de pessoas físicas e jurídicas, garantindo que os dados dos processos estão atualizados e corretos.\n\nPode ser usada para criação de dossiês ou em processos de KYC (Know Your Customer, ou, Conheça Seu Cliente)","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/comprot/processo"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"processo","in":"query","description":"Número do processo.","required":false,"schema":{"type":"string"}},{"name":"data_inicio","in":"query","description":"Data de início no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":true,"schema":{"type":"string"}},{"name":"data_fim","in":"query","description":"Data de fim no formato ISO 8601. Por exemplo, 22 de Abril de 1985 é representado em ISO 8601 da forma \"1985-04-22\". Preste atenção que é necessário incluir zeros, o formato \"1985-4-22\" seria inválido.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/sabesp/download-conta":{"post":{"tags":["Consultas"],"summary":"Contas / SABESP / Download de Conta","description":"Obtém a lista de instalações de uma conta da SABESP.\n\nPode ser usada para consultar as instalações/fornecimentos vinculadas a uma conta da SABESP.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/sabesp/download-conta"},"parameters":[{"name":"login_cpf","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"Informe caso deseje obter as instalações de um CNPJ vinculado à mesma conta da SABESP. Caso não informado, será baixada a conta de água da instalação na primeira página de PF do usuário","required":false,"schema":{"type":"string"}},{"name":"fornecimento","in":"query","description":"Informe caso deseje obter a conta de água de um fornecimento específico. Caso não informado, será baixada a conta de água da instalação na primeira página do usuário.","required":false,"schema":{"type":"string"}},{"name":"ano_mes","in":"query","description":"Informe caso deseje obter a conta de água de um mês específico, no formato YYYY-MM. Caso não informado, será baixada a conta de água do mês mais recente disponível.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/sabesp/lista-instal":{"post":{"tags":["Consultas"],"summary":"Contas / SABESP / Lista de Instalações","description":"Obtém a lista de instalações de uma conta da SABESP.\n\nPode ser usada para consultar as instalações/fornecimentos vinculadas a uma conta da SABESP.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/sabesp/lista-instal"},"parameters":[{"name":"login_cpf","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"Informe caso deseje obter as instalações de um CNPJ vinculado à mesma conta da SABESP.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/saesa/download":{"post":{"tags":["Consultas"],"summary":"Contas / SAESA / Download","description":"Faz download de uma 2ª via no portal da SAESA, por meio do código de ligação informado.\n\nPode ser usada para obter as informações resumidas de uma fatura da Saesa e emitir a segunda via da guia de pagamento.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/saesa/download"},"parameters":[{"name":"codigo_ligacao","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"mes_ano","in":"query","description":"Mês e Ano da fatura desejada, devem ser informados no formato MMAAAA (Exemplo: 082024), se não informados será retornada a conta mais recente.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cemig/download":{"post":{"tags":["Consultas"],"summary":"Contas / Cemig / Download de Contas","description":"Faz download de até as 14 contas de energia elétrica mais recentes na Agência Virtual da Cemig.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cemig/download"},"parameters":[{"name":"email","in":"query","description":"Email usado para login na Cemig.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF usado para login na Cemig.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ usado para login na Cemig.","required":false,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha usada para login na Cemig.","required":true,"schema":{"type":"string"}},{"name":"numero_instalacao","in":"query","description":"Número da instalação a ser consultada. Se não informado, serão retornados os dados da instação principal.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cemig/download-pro":{"post":{"tags":["Consultas"],"summary":"Contas / Cemig / Download de Contas para Profissionais","description":"Faz download dos débitos da instalção no Atende Cemig, exclusivo para contas de profissionais cadastrados no site.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cemig/download-pro"},"parameters":[{"name":"login_usuario","in":"query","description":"Usuário usado para login na Cemig.","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"Senha usada para login na Cemig.","required":true,"schema":{"type":"string"}},{"name":"numero_instalacao","in":"query","description":"Número da instalação a ser consultada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cemig/obter-instalacoes":{"post":{"tags":["Consultas"],"summary":"Contas / Cemig / Obter Instalações","description":"Obtém as informações das instalações de um cliente.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cemig/obter-instalacoes"},"parameters":[{"name":"email","in":"query","description":"Email usado para login na Cemig.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF usado para login na Cemig.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ usado para login na Cemig.","required":false,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha usada para login na Cemig.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/comgas/download-seg-via":{"post":{"tags":["Consultas"],"summary":"Contas / Comgás / Download de 2ª Via","description":"Faz download de contas de Gás mais recentes na Agência Virtual da Comgás.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de Gás.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/comgas/download-seg-via"},"parameters":[{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"codigo_usuario","in":"query","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cpfl/download":{"post":{"tags":["Consultas"],"summary":"Contas / CPFL / Download","description":"Faz download da conta de energia elétrica mais recente na Agência Virtual da CPFL.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cpfl/download"},"parameters":[{"name":"email","in":"query","description":"Login utilizado para acessar o site","required":true,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha utilizada para acessar o site.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Número da instalação. Caso não seja informada, será usada a primeira instalação encontrada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cpfl/download-cred":{"post":{"tags":["Consultas"],"summary":"Contas / CPFL / Download para Credenciados","description":"Faz download da conta de energia elétrica mais recente na área de credenciados da Agência Virtual da CPFL.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cpfl/download-cred"},"parameters":[{"name":"login","in":"query","description":"Login utilizado para acessar o site.","required":true,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha utilizada para acessar o site.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Número da instalação.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cpfl/download-empresas":{"post":{"tags":["Consultas"],"summary":"Contas / CPFL / Download (Empresas)","description":"Faz download da conta de energia elétrica mais recente na Agência Virtual para Empresas da CPFL.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cpfl/download-empresas"},"parameters":[{"name":"email","in":"query","description":"Login utilizado para acessar o site.","required":true,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha utilizada para acessar o site.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Número da instalação a ser consultada. Caso não seja informada, será retornado o primeiro resultado encontrado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da instalação a ser consultada. Caso não seja informado, será retornado o primeiro resultado encontrado.","required":false,"schema":{"type":"string"}},{"name":"cpf","in":"query","description":"CPF da instalação a ser consultada. Caso não seja informado, será retornado o primeiro resultado encontrado.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cpfl/download-ocr":{"post":{"tags":["Consultas"],"summary":"Contas / CPFL / Download + OCR","description":"Faz download da conta de energia elétrica mais recente na Agência Virtual da CPFL e retorna os dados da conta lidos com OCR.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cpfl/download-ocr"},"parameters":[{"name":"email","in":"query","description":"Email utilizado para fazer login.","required":true,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Número da instalação.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cpfl/link":{"post":{"tags":["Consultas"],"summary":"Contas / CPFL / Download via link","description":"Faz download da conta de energia elétrica via link de atendimento na Agência Virtual da CPFL.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cpfl/link"},"parameters":[{"name":"link","in":"query","description":"Link para impressão da fatura.","required":true,"schema":{"type":"string"}},{"name":"documento","in":"query","description":"CPF/CNPJ do titular da conta. Este campo é necessário para alguns tipos de contas que solicitam esta informação para exibir o PDF da conta.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/cpfl/link-ocr":{"post":{"tags":["Consultas"],"summary":"Contas / CPFL / Download via link + OCR","description":"Faz download da conta de energia elétrica via link de atendimento na Agência Virtual da CPFL e retorna os dados da conta lidos com OCR.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/cpfl/link-ocr"},"parameters":[{"name":"link","in":"query","description":"Link para impressão da fatura.","required":true,"schema":{"type":"string"}},{"name":"documento","in":"query","description":"CPF/CNPJ do titular da conta. Este campo é necessário para alguns tipos de contas que solicitam esta informação para exibir o PDF da conta.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/ce/download":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / CE / Download","description":"Faz o download da última conta de energia elétrica disponível na Agência Virtual da Enel, para o estado do Ceará (CE).\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/ce/download"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_empresa","in":"query","description":"Deve ser informado o valor 1 para conta de empresa, e o valor 0 para conta de pessoa física.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Número da instalação a ser obtida. Se não informado, será obtida a primeira instalação disponível.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/rj/instalacoes":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / RJ / Lista de Instalações","description":"Lista as instalações existentes em uma conta na Enel RJ.\n\nPode ser usada para gerenciar as instalações de uma conta da Enel RJ.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/rj/instalacoes"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/sp/download":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / SP / Download","description":"Faz download das últimas contas de energia elétrica na Agência Virtual da Enel, para o estado de São Paulo (SP).\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/sp/download"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Código da instalação a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/sp/download-ocr":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / SP / Download + OCR","description":"Faz o download e OCR da última conta de energia elétrica disponível na Agência Virtual da Enel, para o estado de São Paulo (SP).\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/sp/download-ocr"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Código da instalação a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/sp/gestao-imob":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / SP / Gestão Imobiliária","description":"Faz o download da última conta de energia elétrica de um representado pela área de Gestão Imobiliária na Agência Virtual da Enel, para o estado de São Paulo (SP).\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/sp/gestao-imob"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Código da instalação a ser consultada.","required":true,"schema":{"type":"string"}},{"name":"mes_ano","in":"query","description":"Deverá ser informado no formato MMAAAA. Exemplo: 082024","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/rj/download":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / RJ / Download","description":"Faz download da última conta de energia elétrica disponível na Agência Virtual da Enel, para o estado do Rio de Janeiro (RJ).\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/rj/download"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"empresa","in":"query","description":"Aqui deve ser informado o valor 1 caso o login deva ser realizado pela área empresarial.","required":false,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Se este campo não for informado, a instalação padrão da conta será utilizada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/enel/rj/download-ocr":{"post":{"tags":["Consultas"],"summary":"Contas / Enel / RJ / Download + OCR","description":"Faz download da conta de energia elétrica mais recente no site da Enel e retorna os dados da conta lidos com OCR.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/enel/rj/download-ocr"},"parameters":[{"name":"login_email","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"login_senha","in":"query","description":"","required":true,"schema":{"type":"string"}},{"name":"empresa","in":"query","description":"Aqui deve ser informado o valor 1 caso o login deva ser realizado pela área empresarial.","required":false,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Código da instalação a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/light/download":{"post":{"tags":["Consultas"],"summary":"Contas / Light / Download","description":"Faz download da conta de energia elétrica especificada, na Agência Virtual da Light.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/light/download"},"parameters":[{"name":"login","in":"query","description":"Login (email ou cpf) usado para login na Light.","required":true,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha usada para login na Light.","required":true,"schema":{"type":"string"}},{"name":"nome_cliente","in":"query","description":"Alguns logins possuem mais de um cliente associado. Se for este o caso, este parâmetro será usado para identificar o cliente correto, através de seu nome. Se este campo não for informado, o primeiro cliente disponível será usado.","required":false,"schema":{"type":"string"}},{"name":"codigo_instalacao","in":"query","description":"Alguns logins possuem mais de um código de instalação associado. Se for este o caso, este parâmetro será usado para identificar o código de instalação correto. Se este campo não for informado, o primeiro código de instalação disponível será usado.","required":false,"schema":{"type":"string"}},{"name":"mes","in":"query","description":"Mês da conta a ser buscada, no formato MM/AAAA. Se não for informado, será buscada a conta mais recente disponível.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/light/download-ocr":{"post":{"tags":["Consultas"],"summary":"Contas / Light / Download + OCR","description":"Faz download da conta de energia elétrica mais recente na Agência Virtual da Light e retorna os dados da conta lidos com OCR.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/light/download-ocr"},"parameters":[{"name":"login","in":"query","description":"Login (email ou cpf) usado para login na Light.","required":true,"schema":{"type":"string"}},{"name":"senha","in":"query","description":"Senha usada para login na Light.","required":true,"schema":{"type":"string"}},{"name":"codigo_cliente","in":"query","description":"Alguns logins possuem mais de um código de cliente associado. Se for este o caso, este parâmetro será usado para identificar o código de cliente correto. Se este campo não for informado, o primeiro código de cliente disponível será usado.","required":false,"schema":{"type":"string"}},{"name":"codigo_instalacao","in":"query","description":"Alguns logins possuem mais de um código de instalação associado. Se for este o caso, este parâmetro será usado para identificar o código de instalação correto. Se este campo não for informado, o primeiro código de instalação disponível será usado.","required":false,"schema":{"type":"string"}},{"name":"mes","in":"query","description":"Mês da conta a ser buscada, no formato MM/AAAA. Se não for informado, será buscada a conta mais recente disponível.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/light/download-cep":{"post":{"tags":["Consultas"],"summary":"Contas / Light / Download via CEP","description":"Faz download da conta de energia elétrica mais recente na Agência Virtual da Light através do CPF ou CNPJ do titular e do CEP.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/light/download-cep"},"parameters":[{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cep","in":"query","description":"CEP do endereço a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Código da instalação a ser consultada.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/consultas/contas/light/download-cep-ocr":{"post":{"tags":["Consultas"],"summary":"Contas / Light / Download via CEP + OCR","description":"Faz download da conta de energia elétrica mais recente na Agência Virtual da Light através do CPF ou CNPJ do titular e do CEP, e retorna os dados lidos com OCR.\n\nPode ser usada para gerar guias de pagamento de contas de consumo.\n\nPode ser usada para automatizar obtenção de comprovante de endereço.\n\nPode ser usada para monitorar consumo de energia elétrica.","externalDocs":{"description":"Documentação completa","url":"https://api.infosimples.com/consultas/docs/contas/light/download-cep-ocr"},"parameters":[{"name":"cpf","in":"query","description":"CPF do indivíduo a ser consultado.","required":false,"schema":{"type":"string"}},{"name":"cnpj","in":"query","description":"CNPJ da empresa a ser consultada.","required":false,"schema":{"type":"string"}},{"name":"cep","in":"query","description":"CEP do endereço a ser consultado.","required":true,"schema":{"type":"string"}},{"name":"instalacao","in":"query","description":"Código
[...]
